// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

$header-height: calculateRem(100px);
$footer-height: calculateRem(100px);

@mixin setStyleToAllPseudoClasses {
  &, &:visited, &:focus, &:hover, &:active {
    @content;
  }
}

@mixin setStyleToAllPseudoClassesNoFocus {
  &, &:visited, &:hover, &:active {
    @content;
  }
}

@mixin setStyleToAllPseudoClassesNoHover {
  &, &:visited, &:focus, &:active {
    @content;
  }
}

%full-height {
  height: 100%;
}

%full-width {
  width: 100%;
}

%normal-text {
  font-weight: 400;
}

%bold-text {
  font-weight: 700;
}

%large-text {
  font-size: calculateRem(24px);
}

%medium-text {
  font-size: calculateRem(16px);
}

%small-text {
  font-size: calculateRem(12px);
}

@include media-breakpoint-up(md) {
  %large-text {
    font-size: calculateRem(32px);
  }

  %medium-text {
    font-size: calculateRem(24px);
  }

  %small-text {
    font-size: calculateRem(16px);
  }
}

%content-container {
  min-height: calc(100vh - #{$header-height} - #{$footer-height});
}

html, body, .full-height {
  @extend %full-height;
}

.full-width {
  @extend %full-width;
}

body {
  @extend %medium-text;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  padding-top: $header-height;
}

.scroll-container {
  overflow-y: scroll;
}

.content-container {
  @extend %content-container;
}

.normal-text {
  @extend %normal-text;
}

.bold-text {
  @extend %bold-text;
}

.large-text {
  @extend %large-text;
}

.medium-text {
  @extend %medium-text;
}

.small-text {
  @extend %small-text;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: calculateRem(50px);
}

h2 {
  font-size: calculateRem(32px);
}

h3 {
  font-size: calculateRem(24px);
}

h4 {
  font-size: calculateRem(16px);
}

@include media-breakpoint-up(md) {
  h1 {
    font-size: calculateRem(80px);
  }

  h2 {
    font-size: calculateRem(48px);
  }

  h3 {
    font-size: calculateRem(32px);
  }

  h4 {
    font-size: calculateRem(24px);
  }
}

a {
  @include setStyleToAllPseudoClasses {
    box-shadow: none;
    padding: 0;
    white-space: nowrap;

    .underlined, &.underlined, &:hover {
      text-decoration: underline;
    }

    &, &.no-underline:hover {
      text-decoration: none;
    }
  }
}

.btn {
  @include setStyleToAllPseudoClasses {
    box-shadow: none;
    line-height: normal;
    height: calculateRem(48px);

    @include media-breakpoint-up(md) {
      height: calculateRem(60px);
    }
  }

  & .spinner-border {
    border: 0.2rem solid currentColor;
    border-right-color: transparent;
    height: calculateRem(30px);
    width: calculateRem(30px);
  }
}

.form-control {
  @include setStyleToAllPseudoClasses {
    box-shadow: none;
    height: calculateRem(60px);
  }
}

:root {
  --primary: #657EFF;
  --primaryDark: #657EFF;
  --secondary: #F6A256;
  --secondaryDark: #F6A256;
  --plane: #FFFFFF;
  --planeDark: #171717;
  --background: #FFFFFF;
  --backgroundDark: #020202;
  --chatBoxOne: #E4E8EB;
  --chatBoxOneDark: #3C3B3D;
  --chatBoxTwo: #657EFF;
  --chatBoxTwoDark: #657EFF;
  --primaryText: #1E1E1E;
  --primaryTextDark: #FFFFFF;
  --secondaryText: #7A7A7A;
  --secondaryTextDark: rgba(255,255,255,0.8);
  --primaryTextTwo: #4558BA;
  --primaryTextTwoDark: #4558BA;
  --secondaryTextTwo: #BEC1D2;
  --secondaryTextTwoDark: var(--secondaryTextDark);
  --transparentBlue: #F2F4FF;
  --lightBlueBorder: #ADCFFF;
  --redBorder: #F47458;
  --headerBackground: #F3F7FD;
  --headerBackgroundDark: #1B1B1C;
  --borderColor: #EDF0FF;
  --borderColorDark: #333236;
  --shadowColor: rgba(148, 159, 210, 0.07);
  --defaultFont: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  --logoFont: 'Abril Fatface', Montserrat;
}
@mixin shadowClassMixin () {
  box-shadow: 0 calculateRem(4px) calculateRem(20px) rgba(0, 0, 0, 0.08);
  @media (prefers-color-scheme: dark) {
    box-shadow: 0 calculateRem(3.08px) calculateRem(15.4px) rgb(0 0 0 / 40%);
  }
}
